<!--

  Unity.config:
  *************
  
  Contiene el mapeo de las interfaces del sistema y su 
  respectivo tipo de implementación.
  
  Este archivo de configuración debe estar disponible
  en todas las aplicaciones (ASP.NET, WCF, etc.).

-->

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Mapeo Dominio.Interfaces -->
  <alias alias="ICualidadesFisicasPorJugadorLogica" type="Dominio.Interfaces.ICualidadesFisicasPorJugadorLogica, Dominio.Interfaces" />
  <alias alias="IEquipoLogica" type="Dominio.Interfaces.IEquipoLogica, Dominio.Interfaces" />
  <alias alias="IEstadisticasPorEquipoLogica" type="Dominio.Interfaces.IEstadisticasPorEquipoLogica, Dominio.Interfaces" />
  <alias alias="IEstadisticasPorJugadorLogica" type="Dominio.Interfaces.IEstadisticasPorJugadorLogica, Dominio.Interfaces" />
  <alias alias="IJugadoresLogica" type="Dominio.Interfaces.IJugadoresLogica, Dominio.Interfaces" />

  <!-- Mapeo Dominio.Implementacion -->
  <alias alias="CualidadesFisicasPorJugadorLogica" type="Dominio.Implementacion.CualidadesFisicasPorJugadorLogica, Dominio.Implementacion" />
  <alias alias="EquipoLogica" type="Dominio.Implementacion.EquipoLogica, Dominio.Implementacion" />
  <alias alias="EstadisticasPorEquipoLogica" type="Dominio.Implementacion.EstadisticasPorEquipoLogica, Dominio.Implementacion" />
  <alias alias="EstadisticasPorJugadorLogica" type="Dominio.Implementacion.EstadisticasPorJugadorLogica, Dominio.Implementacion" />
  <alias alias="JugadoresLogica" type="Dominio.Implementacion.JugadoresLogica, Dominio.Implementacion" />

  <!-- Mapeo Datos.Interfaces-->
  <alias alias="IJugadoresDAL" type="Datos.Interfaces.IJugadoresDAL, Datos.Interfaces" />
  <!--<alias alias="IBeneficioComprobantePagoPensionDAL" type="CL.SURA.AFP.ComprobantePago.DAL.IBeneficioComprobantePagoPensionDAL, Cl.Sura.Afp.ComprobantePago.Dal.Interfaces" />-->

  <!-- Mapeo Datos.Implementacion -->
  <alias alias="JugadoresDAL" type="Datos.Implementacion.JugadoresDAL,Datos.Implementacion" />
  <!--<alias alias="BeneficioComprobantePagoPensionDAL" type="CL.SURA.AFP.ComprobantePago.DAL.BeneficioComprobantePagoPensionDAL, Cl.Sura.Afp.Comprobantepago.Dal.Implementacion" />-->

  <containers>
    <container name="RootContainer">
      <!-- Mapeo -->
      <register type="ICualidadesFisicasPorJugadorLogica" mapTo="CualidadesFisicasPorJugadorLogica" />
      <register type="IEquipoLogica" mapTo="EquipoLogica" />
      <register type="IEstadisticasPorEquipoLogica" mapTo="EstadisticasPorEquipoLogica" />
      <register type="IEstadisticasPorJugadorLogica" mapTo="EstadisticasPorJugadorLogica" />
      <register type="IJugadoresLogica" mapTo="JugadoresLogica" />

      <!-- Mapeo DAL -->
      <register type="IJugadoresDAL" mapTo="JugadoresDAL" />
      <!--<register type="IBeneficioComprobantePagoPensionDAL" mapTo="BeneficioComprobantePagoPensionDAL" /> -->
    </container>
  </containers>
</unity>
